@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: 'Space Grotesk', sans-serif;
}

body {
  width: 100%;
  margin: 0;
  padding: 0;
  background: #050505;
}

#root {
  width: 100%;
  min-height: 100vh;
}
